.pdf {
  position: absolute;
  top: 55%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  
  height: 75vh;
  width: 65vw;
}

.download {
  position: fixed;
  color: white;
  top: 10%;
  left: 25%;
  transform: translate(-50%);
  font-size: 5vh;

  cursor: pointer;
}